@model IEnumerable<FPTJOB.Models.Profile_Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Data Table Of Profile Job</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RegDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Job)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Profile)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profile.FullName)
                        </td>
                        <td style="width:150px">
                            <a asp-action="Details" asp-controller="Profiles" asp-route-id="@item.ProfileId" class="btn btn-laeled btn-success" title="View Profile">
                                <span class="btn-label"><i class="fa fa-address-book-o" aria-hidden="true"></i></span>
                            </a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-labeled btn-danger" title="Delete">
                                <span class="btn-label"><i class="fa fa-trash"></i></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
